vapi-emergency.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-emergency",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -144
      ],
      "id": "493c95b9-af68-4984-93d5-9e8019b1fc3d",
      "name": "Webhook"
      
    },
    {
      "parameters": {
        "jsCode": "const vapiData = $input.item.json.body.message.toolCalls[0].function.arguments;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    fullName: vapiData.fullName || '',\n    phone: vapiData.phone || '',\n    email: vapiData.email || '',\n    emergencyType: vapiData.emergencyType || '',\n    description: vapiData.description || '',\n    status: 'New - Urgent'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -144
      ],
      "id": "2d90c38c-2287-4be3-b984-a27fd6388598",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "AI_rece",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Emergencies",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Full Name": "={{ $json.fullName }}",
            "Phone Number": "={{ $json.phone }}",
            "Emergency Type": "={{ $json.emergencyType }}",
            "Status": "={{ $json.status }}",
            " Email ": "={{ $json.email }}",
            "Description": "={{ $json.description }}",
            "Address/Location": "={{ $json.emergencyType }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address/Location",
              "displayName": "Address/Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emergency Type",
              "displayName": "Emergency Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Email ",
              "displayName": " Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        -144
      ],
      "id": "c94b4ef2-9677-420c-abb0-7686776bb6f6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Emergency logged successfully. Team will contact you within 5 minutes.\",\n  \"priority\": \"URGENT\",\n  \"emergencyId\": \"{{$json.timestamp}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        352,
        -144
      ],
      "id": "28bfd459-22fd-4e96-8e58-84b9dce46b65",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}